@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

#greeting{
  margin: 15px;
}

#page-top{
  display: flex;
  justify-content: space-evenly;
}

#page-bottom{
  display: flex;
  margin-top: 40px;
}

.text-block{
  width: 500px;
}

.text-block-small{
  width: 200px;
  margin: 30px;
}

img{
  margin: 20px;
}

#greeting {
display: flex;
justify-content: flex-end;
}

#profile {
  padding-top: 30px;
  height: 340px;
  width: 345px;
}

#apts {
  width: 345px;
  height: 450px;
  padding-bottom: 10px;
  text-align: center;
}

#clock {
  margin-right: 2px;
  text-align: center;
}

#mentor-container{
  display: flex;
  
}
