@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

#greeting{
  margin: 15px;
}

#page-top{
  display: flex;
  justify-content: space-evenly;
}

#page-bottom{
  display: flex;
  margin-top: 40px;
}

.text-block{
  width: 500px;
}

.text-block-small{
  width: 200px;
  margin: 30px;
}

img{
  margin: 20px;
}

#greeting {
display: flex;
justify-content: flex-end;
}

#clock {
  align-self: center;
  width: 230px;
}

#prof2{
  display: flex;
  justify-content: center;
}

#profile {
  display: flex;
  justify-content: center;
  text-align: center;
}

#mentor-container{
  display: flex;
  text-align: center;
  justify-content: center;
}

#ul{
  justify-content: center;
}

#apt-container{
  display: flex;
  justify-content: center;
}

#apts{
  display: flex;
  justify-content: center;
  text-align: center;
}

Card{
  display: flex;
  justify-items: center;
}

#book-appt{
  background-color: #2A2A2A;
  color: white;
  border-color: #2A2A2A;
}

#book-appt:hover{
  background-color: #8F8F8F;
  border-color: #8F8F8F;
}

#signout{
  margin-left: 780px;
}

#memdel{
background-color: #2A2A2A;
border: #2A2A2A;
}

#edit{
  background-color: #2A2A2A;
  border: #2A2A2AD6;
}

#memdel:hover{
  background-color: #8F8F8F;
  border-color: #8F8F8F;
}

#edit:hover{
  background-color: #8F8F8F;
  border-color: #8F8F8F;
}

#submitform{
  background-color: #2A2A2A;
  border-color: #2A2A2A
}

#submitform:hover{
  background-color: #8F8F8F;
  border-color: #8F8F8F;
}
