@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

#greeting{
  margin: 15px;
}

#page-top{
  display: flex;
  justify-content: space-evenly;
}

#page-bottom{
  display: flex;
  margin-top: 40px;
}

.text-block{
  width: 500px;
}

.text-block-small{
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;

}

img{
  margin-left: 20px;
  margin-right: 20px;

}

#greeting {
display: flex;
justify-content: flex-end;
}

#clock {
  align-self: center;
  width: 230px;
}

#profile-pg{
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

#prof2{
  display: flex;
  margin-top: 10px;
}

#profile {
  display: flex;
}

#mentor-container{
  display: flex;
  text-align: center;
  justify-content: center;
}

ul{
  justify-content: center;
  margin: 10px;
  padding: 0;
}

#apt-container{
  display: flex;
  margin-left: 10px;
  margin-top: 30px;

}

.mentor-display-photo{
  object-fit: cover;
}

#apts{
  display: flex;
  justify-content: center;
  text-align: center;
}

#book-appt{
  background-color: rgba(70, 1, 155, 0.777);
  color: white;
  border-color: rgba(70, 1, 155, 0.777);
}

#book-appt:hover{
  background-color: #8F8F8F;
  border-color: #8F8F8F;
}

#signout{
  margin-left: 780px;
}

#memdel{
background-color: #2A2A2A;
border: #2A2A2A;
}

#edit{
  background-color: rgba(70, 1, 155, 0.777);
  border: rgba(70, 1, 155, 0.777);
  margin: 8px;
}

.mentor-display-photo{
  margin:20px;
}

#memdel:hover{
  background-color: #8F8F8F;
  border-color: #8F8F8F;
}

#edit:hover{
  background-color: #8F8F8F;
  border-color: #8F8F8F;
}

#submitform{
  background-color: #2A2A2A;
  border-color: #2A2A2A
}

#submitform:hover{
  background-color: #8F8F8F;
  border-color: #8F8F8F;
}

Form{
  display: flex;
  flex-direction: column;
  max-width: 50%;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  text-align: center;
}

.serif{
  font-family: DM Serif Text
}

#meet{
  margin: 40px;
  justify-content: center;
  text-align: center;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#left{
  margin-right: 10px;
}

#right{
  margin-left: 10px;
}

Nav{
  height: 80px;
}

b{
  color: rgba(70, 1, 155, 0.777);
}

.signin{
  display: flex;
  justify-content: center;
}

#login-btn{
  background-color: rgba(70, 1, 155, 0.777);
  border-color: rgba(70, 1, 155, 0.777);
  width: 50%;
  align-self: center;
}

#login-btn:hover {
  border-color: #8F8F8F;
  background-color: #8f8f8f;
}

#logo{
  justify-content: center;
  align-self: center;
}

#createapt{
  background-color: rgba(70, 1, 155, 0.777);
  border-color: rgba(70, 1, 155, 0.777);
  width: 40%;
}

#createapt:hover{
  background-color: #8F8F8F;
  border-color: #8F8F8F;
}
